/* ========common======== */
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.f-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.f-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
.vh-80 {
  height: 80vh;
  display: flex;
  align-items: center;
}

/* ========footer======== */
.footer-custom {
  background-color: #2d2d2d70;
  padding: 3rem 2rem;
}

/* =========carosal======== */
.carosel-outer {
  overflow: hidden;
}
.carosel-innner {
  display: flex;
  overflow-x: scroll;
}

/* ========product ========= */
.product-card-outer {
  min-width: 13rem;
  min-height: 30vh;
  padding: 1rem;
}
/* =======category========= */
.category-card-outer {
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  border: 0.1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
